@model dynamic

<section>
    <ul class="thumbnails">
        <li ng-repeat="item in areas" class="span3">
            <a href="#/categories?href={{item.href}}" class="thumbnail">
                <img ng-src="{{'https://se.airshoppen.com' + item.imageHref}}" alt="">
                {{item.name}}
            </a>
        </li>
    </ul>
</section>
