@model dynamic

<section>
    <ul class="thumbnails">
        <li ng-repeat="category in categories" class="span3">
            <a href="#/items?href={{category.href}}" class="thumbnail">
                <img ng-src="{{'https://se.airshoppen.com' + category.imageHref}}" alt="">
                {{category.name}}
            </a>
        </li>
    </ul>
</section>
