@model dynamic

@{
    ViewBag.Title = "ReSTore";
}

<h1>Welcome to our store</h1>

<ul>
    <li></li>
</ul>

@section scripts
{
<script type="text/javascript">

    function CategoriesViewModel() {
        var self = this;

        self.categories = ko.observableArray([]);

        self.refresh = function () {
            $.ajax('/Content/data/categories.json').
                success(function(data, status, xhr) {
                    alert(data);
                });
        };
    }

    $(function () {

        var categoriesViewModel = new CategoriesViewModel();

        categoriesViewModel.refresh();

        // ko.applyBindings();
    });
</script>
}
