@model dynamic

<div class="row">
    <h2>{{title}}</h2>
    <h3 ng-show="parentLink"><a href="" ng-click="back()">Back</a></h3>
</div>
<div class="row">
    <section class="span9">
        <ul class="thumbnails">
            <li ng-repeat="item in items" class="span2" >
                <a href="" ng-click="select(item)" style="height: 110px" class="thumbnail" ng-show="hasChildren(item)">
                    <img ng-src="{{'https://se.airshoppen.com' + item.imageHref}}" alt="">
                    {{item.name}}
                </a>
                <div class="thumbnail" style="height: 250px" ng-show="!hasChildren(item)">
                    <img ng-src="{{'https://se.airshoppen.com' + item.imageHref}}" alt="">
                    {{item.name}}
                    <commands item="item" context="this"/>
                </div>
            </li>
        </ul>
    </section>
    <section class="span3">
    
        <div ng-show="orderId">
            <table class="table" >
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>No</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in order.items">
                        <td>{{item.name}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.price}}:-</td>
                    </tr>
                </tbody>
            </table>
            <commands item="order" context="this"/>
        </div>
        <div ng-show="!orderId">
            <button ng-click="createOrder()">Create</button>
        </div>

    </section>
</div>