@model dynamic

<section class="span9">
    <ul class="thumbnails">
        <li ng-repeat="item in items" class="span2">
            <a href="" ng-click="select(item)" class="thumbnail" ng-show="hasChildren(item)">
                <img ng-src="{{'https://se.airshoppen.com' + item.imageHref}}" alt="">
                {{item.name}}
            </a>
            <div class="thumbnail" ng-show="!hasChildren(item)">
                <img ng-src="{{'https://se.airshoppen.com' + item.imageHref}}" alt="">
                {{item.name}}
                <button ng-repeat="command in item._links.command" ng-click="postCommand(item, command)">{{command.prompt}}</button>
            </div>
        </li>
    </ul>
</section>
<section class="span3">
    
    <div ng-show="orderId">
        <table class="table" >
            <thead>
            
            </thead>
            <tbody>
                <tr ng-repeat="item in order.items">
                    <td>{{item.name}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.price}}:-</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">Total price</th>
                    <th>{{totalPrice}}</th>
                </tr>
            </tfoot>
        </table>
        <button ng-repeat="command in order._links.command" ng-click="postCommand(order, command)">{{command.prompt}}</button>
    </div>
    <div ng-show="!orderId">
        <button ng-click="createOrder()">Create</button>
    </div>
</section>